In [1]:
#Importamos librerias
import openpyxl
import pandas as pd
import numpy as np

In [8]:
#Leemos el archivo en donde se van a aplicar los filtros
df = pd.read_excel('Inmuebles.xlsx', index_col=1)
#df = pd.read_excel('Inmuebles.xlsx')
df

,Referencia,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Fecha Alta,,,,,,,,
2004-01-01,1,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
2004-01-01,2,Local,Venta,Girona,199,1945424,2004-04-19,Pedro
2004-01-01,3,Oficina,Alquiler,Girona,82,712416,2004-11-08,Joaquín
2004-01-02,4,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
2004-01-02,5,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...
2007-04-29,3333,Industrial,Alquiler,Lleida,221,1450644,NaT,NaN
2007-04-29,3334,Piso,Alquiler,Girona,55,454080,NaT,NaN
2007-04-30,3335,Suelo,Venta,Tarragona,78,740688,NaT,NaN
2007-04-30,3336,Piso,Alquiler,Barcelona,88,397408,NaT,NaN
2007-04-30,3337,Parking,Venta,Lleida,254,2140712,NaT,NaN

In [ ]:
#Filtros básicos para variables cualitativas 
#Filtro por objeto
filtro1=df[df['Operación'] == "Venta"]
filtro1

In [ ]:
#Filtro por filas
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [500, 1000, 1500, 2000, 2500, 3000] , : ]  #filas no consecutivas 
filtro2

In [11]:
#Filtro por columnas
filtro3=df.iloc[ : , 2:6]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro3

           Operación  Provincia  Superficie  Precio Venta
Fecha Alta
2004-01-01  Alquiler     Lleida         291       2133903
2004-01-01     Venta     Girona         199       1945424
2004-01-01  Alquiler     Girona          82        712416
2004-01-02  Alquiler     Girona         285       1815450
2004-01-02     Venta  Tarragona         152       1138024
...              ...        ...         ...           ...
2007-04-29  Alquiler     Lleida         221       1450644
2007-04-29  Alquiler     Girona          55        454080
2007-04-30     Venta  Tarragona          78        740688
2007-04-30  Alquiler  Barcelona          88        397408
2007-04-30     Venta     Lleida         254       2140712

[3337 rows x 4 columns]