In [1]:
#Importamos librerias
import openpyxl
import pandas as pd
import numpy as np

In [ ]:
#Leemos el archivo en donde se van a aplicar los filtros
df = pd.read_excel('Inmuebles.xlsx', index_col=2)
#df = pd.read_excel('Inmuebles.xlsx')
df

In [ ]:
#Filtros básicos para variables cualitativas 
#Filtro por objeto
filtro1=df[df['Operación'] == "Venta"]
filtro1

In [ ]:
#Filtro por filas
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [500, 1000, 1500, 2000, 2500, 3000] , : ]  #filas no consecutivas 
filtro2

In [ ]:
#Filtro por columnas
filtro3=df.iloc[ : , 2:6]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro3

In [ ]:
#Filtro de filas vs columnas 
filtro4=df.loc[["Local","Piso"], ["Provincia"]]
filtro4

In [ ]:
#Filtro por cabecera
filtro5=df.head(9)
filtro5

In [ ]:
#FILTROS BASICOS PARA VARIABLES CUANTITATIVAS
#Filtro por comparacion
filtro6=df[df["Superficie"] >= 300]
filtro6

In [ ]:
#FILTROS BASICOS CON CONETORES LOGICOS
#Filtro Y
filtro7=df[(df["Precio Venta"] > 2200000) & (df["Provincia"] == "Barcelona")]
filtro7

In [46]:
#Filtro O
filtro8=df[(df["Precio Venta"] > 2500000) | (df["Superficie"] >= 300)]
filtro8

,Referencia,Fecha Alta,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Tipo,,,,,,,,
Parking,13,2004-01-04,Venta,Barcelona,300,2937300,2004-11-04,Jesús
Suelo,38,2004-01-17,Alquiler,Tarragona,300,1492800,2004-12-08,Joaquín
Oficina,45,2004-01-20,Alquiler,Barcelona,287,2851058,2005-01-02,Joaquín
Parking,79,2004-01-31,Venta,Barcelona,298,2520484,2004-11-27,Carmen
Suelo,90,2004-02-04,Venta,Girona,292,2685816,2004-07-24,Pedro
...,...,...,...,...,...,...,...,...
Industrial,3268,2007-04-01,Alquiler,Barcelona,300,2908500,NaT,NaN
Parking,3289,2007-04-09,Venta,Lleida,296,2914416,NaT,NaN
Suelo,3298,2007-04-12,Venta,Tarragona,282,2689434,NaT,NaN
Piso,3323,2007-04-23,Venta,Barcelona,283,2686236,NaT,NaN
Piso,3329,2007-04-26,Venta,Barcelona,264,2517504,NaT,NaN