In [1]:
#Importamos librerias
import openpyxl
import pandas as pd
import numpy as np

In [ ]:
#Leemos el archivo en donde se van a aplicar los filtros
df = pd.read_excel('Inmuebles.xlsx', index_col=1)
#df = pd.read_excel('Inmuebles.xlsx')
df

In [6]:
#Filtros básicos para variables cualitativas 
#Filtro por objeto
filtro1=df[df['Operación'] == "Venta"]
filtro1

,Referencia,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Fecha Alta,,,,,,,,
2004-01-01,2,Local,Venta,Girona,199,1945424,2004-04-19,Pedro
2004-01-02,5,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María
2004-01-03,8,Oficina,Venta,Girona,235,2158475,2004-10-31,Jesús
2004-01-04,10,Parking,Venta,Lleida,299,2042768,2004-10-06,Joaquín
2004-01-04,12,Industrial,Venta,Girona,187,999328,2004-04-05,Carmen
...,...,...,...,...,...,...,...,...
2007-04-27,3330,Parking,Venta,Barcelona,88,612568,NaT,NaN
2007-04-27,3331,Local,Venta,Girona,110,845790,NaT,NaN
2007-04-29,3332,Oficina,Venta,Lleida,190,1031320,NaT,NaN
2007-04-30,3335,Suelo,Venta,Tarragona,78,740688,NaT,NaN
2007-04-30,3337,Parking,Venta,Lleida,254,2140712,NaT,NaN