In [1]:
#Importamos librerias
import openpyxl
import pandas as pd
import numpy as np

In [24]:
#Leemos el archivo en donde se van a aplicar los filtros
df = pd.read_excel('Inmuebles.xlsx', index_col=2)
#df = pd.read_excel('Inmuebles.xlsx')
df

,Referencia,Fecha Alta,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
Tipo,,,,,,,,
Parking,1,2004-01-01,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
Local,2,2004-01-01,Venta,Girona,199,1945424,2004-04-19,Pedro
Oficina,3,2004-01-01,Alquiler,Girona,82,712416,2004-11-08,Joaquín
Parking,4,2004-01-02,Alquiler,Girona,285,1815450,2004-04-27,Jesús
Suelo,5,2004-01-02,Venta,Tarragona,152,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...
Industrial,3333,2007-04-29,Alquiler,Lleida,221,1450644,NaT,NaN
Piso,3334,2007-04-29,Alquiler,Girona,55,454080,NaT,NaN
Suelo,3335,2007-04-30,Venta,Tarragona,78,740688,NaT,NaN
Piso,3336,2007-04-30,Alquiler,Barcelona,88,397408,NaT,NaN
Parking,3337,2007-04-30,Venta,Lleida,254,2140712,NaT,NaN

In [ ]:
#Filtros básicos para variables cualitativas 
#Filtro por objeto
filtro1=df[df['Operación'] == "Venta"]
filtro1

In [ ]:
#Filtro por filas
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [500, 1000, 1500, 2000, 2500, 3000] , : ]  #filas no consecutivas 
filtro2

In [ ]:
#Filtro por columnas
filtro3=df.iloc[ : , 2:6]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro3

In [25]:
#Filtro de filas vs columnas 
filtro4=df.loc[["Local","Piso"], ["Provincia"]]
filtro4

       Provincia
Tipo
Local     Girona
Local  Tarragona
Local  Tarragona
Local  Tarragona
Local  Tarragona
...          ...
Piso   Tarragona
Piso   Barcelona
Piso   Barcelona
Piso      Girona
Piso   Barcelona

[956 rows x 1 columns]